<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'Esqueceu sua senha' | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forgot-password" [formGroup]="forgotPasswordForm">
    <h3>Redefinir Senha</h3>

    <p class="text-center">Por favor, digite seu endereço de e-mail para solicitar uma redefinição de senha.</p>

    <div class="formGroup">
      <input type="email" class="formControl" placeholder="Informe o e-mail cadastrado" formControlName="email">
    </div>

    <div class="formGroup ion-padding-top">
      <input type="submit" class="btn-primary" value="Redefinir senha" (click)="onSubmit(forgotPasswordForm)">
    </div>
  </div>

  <div class="sign-up">
    <span><a routerLink="/login">Entrar</a></span>
  </div>
</ion-content>
