<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card style="text-align: center">
    <img style="width: 200px; height: 200px; padding-top: 8px"
         src="/assets/images/car-about.png" />
    <ion-card-header>
      <ion-card-title>Lista de Compras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Na correria do dia a dia, não lembramos de tudo.
      Pensando nisto, surgiu a ideia de criar um app simples responsável por gerenciar uma lista.
      É um facilitador, se duas pessoas ou mais estiverem no mercado por exemplo,
      podem se dividir e acelerar as compras, pois o app atualiza o status dos itens em tempo real.
      Assim todos que estiverem acessando a mesma lista, saberá os itens que já estão no carrinho
      e os que ainda estão pendentes.
    </ion-card-content>
  </ion-card>
</ion-content>
