<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Minha Lista' | uppercase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="item-title">
      <ion-row>
        <ion-col size="1">
          <p>{{ ' ' }}</p>
        </ion-col>
        <ion-col size="6">
          <p>{{ 'Descrição' }}</p>
        </ion-col>
        <ion-col size="2">
          <p>{{ 'Qtd.' }}</p>
        </ion-col>
        <ion-col size="2">
          <p>{{ 'Editar' }}</p>
        </ion-col>
        <ion-col size="1">
          <p>{{ ' ' }}</p>
        </ion-col>
      </ion-row>
    <div *ngFor="let item of items" style="background-color: #989aa2;">
      <hr>
      <ion-row style="padding-bottom: 8px; padding-top: 8px; padding-left: 8px; color: #ffffff">
        <ion-col size="1">
          <div>
            <ion-checkbox
              slot="start" [(ngModel)]="item.checked"
              (ngModelChange)="checked(item, item.key)"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-label *ngIf="!item.checked">{{ item.name }}</ion-label>
          <strike *ngIf="item.checked">{{ item.name }}</strike>
        </ion-col>
        <ion-col size="2">
          <b>{{ item.quantity }}</b>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="pencil-outline" (click)="edit(item, item.key)"></ion-icon>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="trash-outline" (click)="presentActionSheet(item.key)" class="icon-color"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreatePage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
